.Footer {
    height: 100px;
    background-color: rgb(222, 222, 236);
    display: flex;
    flex-direction: column;
}

.InfoBox {
    width: 200px;
    margin: auto;
    align-self: center;
}

.NameText {
    text-align: center;
    margin: 0 0 10px;
}

.LinksBox {
    display: flex;
    justify-content: space-evenly;
}

.Link {
    color: inherit;
}

.Icon {
    opacity: .8;
}

.Icon:hover {
    opacity: 1;
}