.HomePage {

}

.Shapes {
    position: absolute;
    top: 0;
    min-height: 100%;
    min-width: 100%;
    z-index: 0;

    -khtml-user-select: none;
    -o-user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    user-select: none;
}

.Hero {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    overflow: auto;
    padding: 2vw 5% 100px;
    box-sizing: border-box;
    min-height: calc(100vh - 80px);
}

.HeroTextArea {
    z-index: 1;
    max-width: 700px;
    padding-bottom: 10vh;
}

.MainHeroHeader {
    z-index: 1;
    font-size: 4.5rem;

}

.SecondaryHeroHeader {
    font-size: 1.6rem;
    font-weight: 500;
    color: #6C63FF;
}

.ButtonsBox {
    width: 100%;
    max-width: 530px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.Clock {
    width: 90vw;
    max-width: 700px;
    z-index: 1;
}

.SecondaryBox {
    min-height: 400px;
    background-color: #6C63FF;
    z-index: 1;
    position: relative;
}

@media (max-width: 768px) {
    
    .MainHeroHeader {
        font-size: 2.5rem;
    }

    .SecondaryHeroHeader {
        font-size: 1.5rem;
    }
}

@media (max-width: 600px) {
    
    .ButtonsBox {
        max-width: none;
        width: 100%;
    }
}