.HomePage {

}

.Shapes {
    position: absolute;
    top: 0;
    min-height: 100%;
    min-width: 100%;
    z-index: 0;
}

.Hero {
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: auto;
    padding: 3vh 5% 10vh;
    box-sizing: border-box;
    min-height: calc(100vh - 80px);
}

.HeroTextArea {
    z-index: 1;
    max-width: 700px;
    padding-bottom: 10vh;
    transform: translate(10%);
}

.MainHeroHeader {
    z-index: 1;
    font-size: 4.5rem;

}

.SecondaryHeroHeader {
    font-size: 1.6rem;
    font-weight: 500;
    color: #6C63FF;
}

.ButtonsBox {
    width: 100%;
    max-width: 530px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.Clock {
    width: 70vw;
    max-width: 700px;
    z-index: 1;
    /* transform: translate(-5%); */
}

.SecondaryBox {
    min-height: 400px;
    box-sizing: border-box;
    background-color: #6C63FF;
    z-index: 1;
    position: relative;
    display: flex;
    justify-content: space-evenly;
    align-content: center;
    padding: 7vh 5% 5vh;
    flex-wrap: wrap;
}

.Pair {
    width: 30vw;
    max-width: 300px;
    /* height: 400px; */
    text-align: center;
    margin: 30px 0;
    padding: 0 30px;
}

.PairImage {
    height: 160px;
    max-width: 100%;
}

.PairText {
    color: #F1F1FF;
    font-size: 1.2rem;
}

.TertiaryBox {
    min-height: 250px;
    box-sizing: border-box;
    position: relative;
    background-color: #F1F1FF;
    padding: 50px 5% 80px;
}

.CtaMainHeader {
    text-align: center;
    margin-bottom: 40px;
}

.CtaSecondaryHeader {
    text-align: center;
    margin-bottom: 20px;
}

.Highlight {
    color: #6C63FF;
    background-color: inherit;
}

@media (max-width: 1400px) {
    .ButtonsBox {
        margin: auto;
    }
    .Hero {
        flex-direction: column;
        padding: 3vh 5% 0px;
        justify-content: space-evenly;
    }
    .Hero :nth-child(2) {
        order: 1;
    }
    .HeroTextArea {
        text-align: center;
        transform: translate(0%);
    }

    /* .Clock {
        transform: translate(0%);
    } */

}

@media (max-width: 1200px) {
    .SecondaryBox {
        flex-direction: column;
    }

    .Pair {
        width: 100%;
        max-width: 500px;
    }

}

@media (max-width: 768px) {
    
    .MainHeroHeader {
        font-size: 2.5rem;
    }

    .SecondaryHeroHeader {
        font-size: 1.5rem;
    }
}

@media (max-width: 600px) {
    
    .ButtonsBox {
        max-width: none;
        width: 100%;
    }
    /* .Clock {
        display: none;
    } */
}