.MySurveys {
    padding: 0 5%;
    overflow: auto;
}

.Header {
    text-align: center;
    font-size: 2.5rem;
    margin: 5vh 0;
}

.SurveysBox {
    width: 90%;
    max-width: 600px;
    margin: auto;
}