.Survey {
    padding: 5px 25px 1px;
    margin: 10px 0;
    background-color: rgba(0, 0, 0, .05);
}

.Header {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.EventName {
    display: inline;
    margin: 0;
    line-height: 2;
    cursor: pointer;
}

.CreatedAt {
    display: inline;
}