.TimeFrame {
    padding: 0px;
    width: 200px;
    display: flex;
    justify-content: center;
}

.TextBox {
    width: 160px;
    padding: 5px 0;
}

.Text {
    text-align: center;
    margin: 0;
    line-height: 1;
}

.CloseIcon {
    align-self: center;
    opacity: .5;
}

.CloseIcon:hover {
    opacity: 1;
}