.Form {
    width: 50%;
    max-width: 400px;
    margin: auto;
}

.InputGroup {
    margin: 50px 0;
}

.TextField {
    width: 100%;
}

.IconButton {
    float: right;
}

.UsernameTaken {
    color: red;
    float: right;
}