.Form {
    width: 90%;
    max-width: 450px;
    margin: auto;
    position: relative;
    padding-bottom: 10px;
}

.Header {
    text-align: center;
    font-size: 2.5rem;
    margin: 50px 0;
}

.InputGroup {
    margin: 50px 0;
}

.InputHeader {
    height: 30px;
    display: flex;
    justify-content: space-between;
}

.Label {
    display: inline-block;
    height: 20px;
    align-self: center;
}

.Input {
    width: 100%;
}

.IconButton {
    float: right;
}

.UsernameMessage {
    color: red;
    float: right;
}

.Link {
    color: inherit;
    opacity: .8;
}

.Link:hover {
    opacity: 1;
}