.Create {
    padding: 5vh 5%;
    box-sizing: border-box;
    overflow: auto;
    min-height: calc(100vh - 80px);
}

.Header {
    text-align: center;
    font-size: 2.5rem;
    margin-bottom: 5vh;
}

.MainBox {
    width: 90%;
    max-width: 450px;
    margin: auto;
    padding-bottom: 15px;
    position: relative;
}

.InputGroup {
    margin: 50px 0;
}

.InputHeader {
    height: 30px;
    display: flex;
    justify-content: space-between;
}

.Label {
    font-size: 1.1rem;
}

.EventNameMessage {
    color: red;
    float: right;
}

.Input {
    width: 100%;
    margin-bottom: 8px;
}