.Inspect {
    padding: 0 5%;
    overflow: auto;
}

.EventHeader {
    text-align: center;
    margin: 6vh 0 4vh;
}

.ShareBox {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 120px;
    margin: auto;
}

.ShareIcon {
    cursor: pointer;
    opacity: .8;
}

.ShareIcon:hover {
    opacity: 1;
}

.ShareText {
    font-weight: 700;
}

.SubmitionsBox {
    width: 300px;
}