.Inspect {
    padding: 0 5%;
    overflow: auto;
}

.EventHeader {
    text-align: center;
    margin: 6vh 0 4vh;
}

.ShareBox {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 120px;
    margin: auto;
}

.ShareIcon {
    cursor: pointer;
    opacity: .8;
}

.ShareIcon:hover {
    opacity: 1;
}

.ShareText {
    font-weight: 700;
}

.Main {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    margin-top: 4vh;
}

.SubmitionsBox {
    width: 350px;
}

.SubmitionsHeader {
    text-align: center;
}

.PersonsBox {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.AvailabilitiesBox {
    width: 90vw;
    max-width: 800px;
    padding: 80px 0;
}

@media (max-width: 1300px) {
    .SubmitionsBox {
        width: 90vw;
        max-width: 800px;
    }
}