.Window {
    position: absolute;
    height: 100%;
    background-color: #6C63FF;
    border-radius: .2rem;
    animation: FadeIn 0.1s ease forwards;
    animation: ExpandWindow 0.1s ease forwards;
    margin-top: 10px;
    transform: translateY(-50%);
}

.Start {
    height: 20px;
    padding: 0 3px;
    border-radius: .2rem;
    transform: translate(-50%);
    position: absolute;
    left: 0;
    bottom: calc(100% + 10px);
    font-size: .8rem;
    background-color: #73708F;
    opacity: .5;
    color: white;
    display: none;
}

.Window:hover .Start {
    display: inline-block;
    animation: FadeIn 0.1s ease forwards;
    
}

.End {
    height: 20px;
    padding: 0 3px;
    border-radius: .2rem;
    transform: translate(50%);
    position: absolute;
    right: 0;
    bottom: calc(100% + 10px);
    font-size: .8rem;
    background-color: #73708F;
    opacity: .5;
    color: white;
    display: none;
}

.Window:hover .End {
    display: inline-block;
    animation: FadeIn 0.1s ease forwards;
    
}

.DeleteBox {
    position: absolute;
    left: 50%;
    transform: translate(-50%);
    height: 200%;
    top: 90%;
    width: 100%;
    display: flex;
    justify-content: center;
}

.Delete {
    align-self: center;
    cursor: pointer;
    font-size: .7rem;
    font-weight: 700;
    opacity: .5;
    display: none;
}

.Delete:hover {
    opacity: 1;
}

.Window:hover .Delete {
    display: inline-block;
}

.HoverArea {
    width: 100%;
    position: absolute;
    height: 400%;
    bottom: -150%;
}

@keyframes FadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes ExpandWindow {
    from {
        height: 0;
    }
    to {
        height: 100%;
    }
}