.Navbar {
    transition: background-color 0.3s ease;
    position: sticky;
    width: 100%;
    height: 75px;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    z-index: 10;
}

.Logo {
    margin: 0;
    padding: 0;
    display: inline-block;
    position: absolute;
    left: calc(20px + 8vw);
    animation: FadeIn 0.5s ease forwards;
    line-height: 1;
}

.NavList {
    list-style: none;
    padding-inline-start: 0;
    display: inline-block;
    position: absolute;
    right: calc(25px + 4vw);
    width: calc(100px + 10vw);
    display: flex;
    justify-content: space-evenly;
    margin: 0;
}

.NavItem {
    display: inline;

}

.Link {
    text-decoration: none;
    color: inherit;
}

@keyframes FadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}