.Navbar {
    transition: background-color 0.3s ease;
    position: fixed;
    width: 100%;
    height: 80px;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    z-index: 10;
}

.Logo {
    margin: 0;
    padding: 0;
    display: inline-block;
    position: absolute;
    left: calc(20px + 8vw);
    animation: FadeIn 0.5s ease forwards;
    line-height: 1;
    font-size: 1.4rem;
}

.NavList {
    list-style: none;
    padding-inline-start: 0;
    display: inline-block;
    position: absolute;
    right: calc(15px + 4vw);
    width: calc(150px + 20vw);
    display: flex;
    justify-content: space-evenly;
    margin: 0;
}

.NavItem {
    display: inline;
}

.Link {
    text-decoration: none;
    color: inherit;
    font-weight: 600;
    cursor: pointer;
    
}

.LogoutModal {
    padding: 10px 40px 15px;
}

.ModalHeader {
    color: #73708F;
}

.Burger {
    display: none;
    position: absolute;
    top: 20px;
    right: 10%;
    cursor: pointer;
    outline: none;
    z-index: 15;
}

.Burger div {
    width: 35px;
    height: 4px;
    margin: 7px 0;
    border-radius: 0.5rem;
    transition: 0.3s ease;
    background-color: #73708F;
}

div.Line1 {
    width: 18px;
    /* transform: rotate(45deg) translate(6px, 7px); */
    transform: translate(2px, 5px) rotate(45deg);
}

div.Line2 {
    transform: rotate(-45deg) translate(0, 0);
}

div.Line3 {
    width: 18px;
    /* transform: rotate(45deg) translate(-6px, -6px); */
    transform: translate(14px, -5px) rotate(45deg);
}

@media (max-width: 768px) {
    .Logo {
        left: 8%;
    }
    .NavList {
        display: none;
    }
    .Burger {
        display: inline-block;
    }
}

@keyframes FadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}