.Navbar {
    background-color: grey;
    position: sticky;
    width: 100vw;
    height: 80px;
    top: 0;
    left: 0;
}

.Logo {
    margin: 0;
    display: inline-block;
    position: absolute;
    left: calc(20px + 8vw);
}

.NavList {
    list-style: none;
    padding-inline-start: 0;
    display: inline-block;
    position: absolute;
    right: calc(25px + 4vw);
    width: calc(100px + 10vw);
    display: flex;
    justify-content: space-evenly;
}

.NavItem {
    display: inline;

}

.NavLink {
    text-decoration: none;
    color: inherit;
}