.App {
  margin: 0;
  padding: 0;
  min-height: calc(100vh + 80px);
  color: #73708F;
  font-family: 'Montserrat', sans-serif;
  background-color: #F1F1FF;
  position: relative;
  overflow-x: hidden;
  overflow-y: auto;
  padding-top: 80px;
}

p::selection, 
h1::selection, 
h2::selection, 
h3::selection, 
span::selection, 
time::selection,
a::selection,
button::selection {
  
  background-color: rgb(83, 80, 107);
  color: white;
}

/* main {
  padding-top: 80px;
  
} */
