.App {
  margin: 0;
  padding: 0;
  min-height: 100vh;
  color: #73708F;
  font-family: 'Montserrat', sans-serif;
  background-color: #F1F1FF;
  position: relative;
  overflow-x: hidden;
  overflow-y: auto;
  padding-top: 80px;
}

img {
  -khtml-user-select: none;
  -o-user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  user-select: none;
  position: relative;
  /* opacity: 0;
  animation: FadeIn 0.2s ease forwards;
  animation-delay: .3s; */
}

p::selection, 
h1::selection, 
h2::selection, 
h3::selection, 
span::selection, 
time::selection,
a::selection,
button::selection,
mark::selection {
  
  background-color: rgb(83, 80, 107);
  color: white;
}

@keyframes FadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;

  }
}
