.App {
  margin: 0;
  padding: 0;
  min-height: calc(100vh + 80px);
  color: #73708F;
}

p::selection, h1::selection, h2::selection, h3::selection, span::selection {
  
  background-color: rgb(83, 80, 107);
  color: white;
}

/* main {
  padding-top: 80px;
  
} */
