.Person {
    display: inline-block;
    padding: 3px 80px 3px 30px;
    position: relative;
    box-sizing: border-box;
    width: 100%;
}

.Main {
    
}

.Name {
    margin: 0;
}

.TimeAgo {
    margin: 0;
}

.DeleteButton {
    position: absolute;
    right: 5px;
    bottom: 5px;
    background: none;
    border: none;
    outline: none;
    font-weight: 700;
    font-size: .8rem;
    cursor: pointer;
    padding: 0;
    opacity: 0;
}

.Person:hover .DeleteButton {
    opacity: .8;
}

.DeleteButton:hover  {
    opacity: 1;
}

@media (max-width: 1300px) and (min-width: 769px) {
    .Person {
        width: 45%;
    }
}