.Person {
    display: inline-block;
    padding: 8px 70px 8px 20px;
    margin: 5px 0;
    position: relative;
    box-sizing: border-box;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.05);
}

.Main {
    
}

.Name {
    margin: 0;
    z-index: 10;
    cursor: pointer;
}

.TimeAgo {
    margin: 0;
}

.DeleteButton {
    position: absolute;
    right: 15px;
    bottom: 10px;
    background: none;
    border: none;
    outline: none;
    font-weight: 700;
    font-size: .8rem;
    cursor: pointer;
    padding: 0;
    opacity: .6;
}

.DeleteButton:hover  {
    opacity: 1;
}

.DeleteModal {
    padding: 10px 40px 15px;
    font-family: 'Montserrat', sans-serif;
    color: #73708F;
}

.DeleteModalHeader {

}

@media (max-width: 1300px) and (min-width: 769px) {
    .Person {
        width: 45%;
    }
}